<h1>Add a new Artist</h1>
<form action="/" method="post">
  <label for="artist-name">Artist name: </label>
  <input id="artist-name" type="text" name="artist-name">
  <button type="submit">Add</button>
</form>
<p><a href="/">Back home</a></p>
