<h1>Add a CD to your Collection!</h1>
<form action="/" method="post">
  <label for="cd-name">Name of CD:</label>
  <input type="text" name="cd-name" id="cd-name">
  <button type="submit" name="button">Submit</button>
</form>
