<h1>Enter an artist to search for</h1>
<form action='/search_results' method="post">
  <label for="search">Artist name:</label>
  <input id="search" name="search" type="text">
  <button type="submit">Search</button>
</form>
